* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* header i {
    font-size: 50px;
    color: gold;
} */

header {
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#logo-zap-agn {
    width: 75px;
}

#logo h1 {
    font-size: 24px;
}

header p {
    font-size: 12px;
}

.bi-play-fill,
.bi-pause-fill {
    font-size: 18px;
    color: red;
    background-color: gold;
    border-radius: 5px;
    cursor: pointer;
}

main a,
main i {
    color: black;
}

.botoes-forms {
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.botao-follow-up button,
.botao-bares-rest button,
.btn-servico {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: silver;
    cursor: pointer;
}

.botao-follow-up button,
.botao-bares-rest button {
    width: 245px;
}

.botao-follow-up span,
.botao-bares-rest span {
    font-size: 12px;
}

.espaco {
    height: 30px;
}

form {
    background-color: rgba(200, 200, 200, .5);
    width: 460px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form span {
    color: rgb(200, 0, 0);
}

.zap-erro,
.zap-erro-flw-up,
.zap-erro-bar-rest,
.nome-erro,
.nome-erro-bar-rest {
    font-size: 10px;
}

form label {
    margin-bottom: 2px;
}

form p {
    font-size: 10px;
}

form input,
form select {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#genero_treinee {
    display: flex;
    justify-content: space-between;
}

#genero_treinee .genero {
    display: flex;
    flex-direction: column;
}

#genero_treinee .treinee {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.btn-servico {
    width: 206px;
    margin: 0 4px 4px 0;
    font-size: 12px;
    text-align: center;
    float: left;
}

.box {
    display: none;
}

.show {
    display: block;
}

hr {
    margin: 10px 0 15px;
}

form button {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: rgba(0, 255, 0, .5);
}

/* responsividade */
@media(max-width: 600px) {
    #logo-zap-agn {
        width: 55px;
    }

    .botoes-forms {
        width: 390px;
    }

    .botao-follow-up button,
    .botao-bares-rest button {
        width: 190px;
    }

    form {
        width: 350px;
    }

    .btn-servico {
        width: 150px;
    }

    #genero_treinee .treinee {
        width: 290px;
    }
}

@media(max-width: 400px) {
    .botoes-forms {
        width: 260px;
    }

    .botao-follow-up button,
    .botao-bares-rest button {
        width: 125px;
    }

    form {
        width: 220px;
    }

    .btn-servico {
        width: 200px;
    }

    #genero_treinee .treinee {
        width: 160px;
    }
}