* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* cabeçalho */
header {
    padding: 15px 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img {
    width: 4rem;
}

header h1 {
    font-size: 3rem;
}

/* conteúdo */
.botoes-forms {
    width: 82%;
    max-width: 540px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.botoes-forms div {
    width: 48%;
}

.botoes-forms button {
    width: 100%;
}

.servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.btn-servico {
    font-size: 12px;
    text-align: center;
    width: 44%;
}

.botoes-forms button,
.btn-servico {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: silver;
    cursor: pointer;
}



hr {
    margin: 15px 0;
}

/* classe para ajudar a separar elementos */
.espaco {
    height: 30px;
    width: 5px;
}



form {
    background-color: rgba(200, 200, 200, .5);
    width: 75%;
    max-width: 500px;
    margin: 15px auto 45px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form span {
    color: rgb(200, 0, 0);
}

/* para as mensagens de erro */
.erro-span {
    font-size: 10px;
}

form label, form p {
    margin-bottom: 2px;
}

form p {
    font-size: 10px;
}

form input, form select {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

form button {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: rgba(0, 255, 0, .5);
}



#genero_treinee, #dia-horario-imun-trib {
    display: flex;
    justify-content: space-between;
}

#genero_treinee .genero {
    display: flex;
    flex-direction: column;
    width: 26%;
}

#genero_treinee .treinee {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.dia-imun-trib, .horario-imun-trib {
    display: flex;
    flex-direction: column;
}

.dia-imun-trib {
    width: 46%;
}

.horario-imun-trib {
    width: 50%;
}



/* classes de filtro de serviços */
.box {
    display: none;
}
.show {
    display: block;
}



/* responsividade */
@media(max-width: 555px) {
    header img {
        width: 3.5rem;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .botoes-forms {
        width: 84%;
    }

    .btn-servico {
        width: 40%;
    }
}

@media(max-width: 333px) {
    header img {
        width: 3rem;
    }

    header h1 {
        font-size: 2rem;
    }

    .botoes-forms div, .btn-servico {
        width: 100%;
    }
}